/* Add this CSS to your styles */
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.overflow-wrap {
  white-space: nowrap;
  overflow:auto;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  width: 150px;
}
.app-container{
  display: flex;
}
.content{
  width :100%;
}
.sidebar{
  min-height: 600px;
}
.input-text{
  min-width: 200px;
}
.forgot-text{
  margin-left: 10px;
}
.container-div{
  padding-top: 20px;
  width:70%
}
.table-container{
  padding-top: 20px;
  width:100%
}
.container-otp{
  width: 40%;
  margin-top: 50px;
}
.login-error{
  color: red;
  margin-top: 5px;
}